.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post {
  border: 1px solid grey;
  padding: 10px;
  margin: 0 300px 20px;
}

.location {
  color: grey;
  font-size: 13px;
  font-weight: 700;
}

.user {
  font-size: 15px;
}

.postImg {
  height: auto;
  border: 1px solid black;
  margin: 20px 0 20px;
}

.postImg > img {
  width: 100%;
}

.like {
  font-size: 12px;
  text-align: right;
}

.likeLabel {
  font-size: 12px;
  text-align: left;
}

.Header_root {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.Header_root * {
  box-sizing: border-box;
}
.Header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
}
.Header_background,
.Header_foreground,
.Header_midground,
.Header_background-bg {
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 30;
}
.Header_midground {
  position: fixed;
  z-index: 20;
  transform: translateY(-100%);
}
.Header_background-bg {
  z-index: 10;
}

.Header_title {
  text-align: left;
}

.buttonAdd {
  height: 40px;
  margin-top: 10px;
  float: right;
}

.inputDescription {
  height: 100%;
}