.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post {
  margin-bottom: 20px;

}

.location {

  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px
}

.user {
  font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
  color: rgb(83, 78, 81);
}

.postImg {
  height: auto;
  border: 1px solid black;
  margin: 20px 0 20px;
}

.postImg > img {
  width: 100%;
}

.like {
  font-size: 12px;
  text-alipostgn: right;
}

.likeLabel {
  font-size: 12px;
  text-align: left;
}

.Header_root {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.Header_root * {
  box-sizing: border-box;
}
.Header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
}
.Header_background,
.Header_foreground,
.Header_midground,
.Header_background-bg {
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 30;
}
.Header_midground {
  position: fixed;
  z-index: 20;
  transform: translateY(-100%);
}
.Header_background-bg {
  z-index: 10;
}

.Header_title {
  text-align: left;
}

.buttonAdd {
  height: 40px;
  margin-top: 10px;
  float: right;
}

.inputDescription {
  height: 100%;
}
.fill{
  width: 100%!important;
}

.likesF{
  float: right;
}

.description{
  margin-bottom: 20px;
  margin-top: 25px;
  
}

.marginT{
  margin-top: 70px;
  margin-bottom: 40px;
}
